.header-container{
display: flex;
background-color: darkgrey;
justify-content: space-between;
}

.dispBlock{
    display: block;
}

.dispNone{
    display:none;
}

.redError{
    color:red;
}

#customer-profile {
	color: white;
}